<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome</title>
    <link rel="stylesheet" href="css/adminpanel.css">
</head>
<body>
    
   <a href="/book/admin/user"  class="title"> <button class="loginbtn">show like gust</button> </a>
   <span class="title">Inbox</span>

    <% for (var i =0; i < Messages.length;  i++ ) { %>
        <div class="booksrow">
            <span class="title">  <%= Messages[i].usename %></span> 
            <span class="title">  <%= Messages[i].message %></span> 
            <form action="/book/update" class="addbooksrow colmn"  method="post">
                <input type="text" class="loginbtn" placeholder="Enter Book title" name="booktitle" id="">
                <input type="text" class="loginbtn" style="display: none;" placeholder="Username" value="<%= Messages[i]._id %>" name="msgid" id="">
                <input type="text" class="loginbtn" style="display: none;" placeholder="Username" value="<%= Messages[i].usename %>" name="addeduser" id="">
                <input type="submit" class="loginbtn" value="Adduser">
            </form>    
        </div>    
    <% } %>

    <a href="/user/<%= token%>" class="loginbtn" > show all users </a>
    <br>

    <!-- TODO something should be changed here-->
    <!-- add permision to user -->
    <h1 class="title"> Give read permision to user </h1>
        <h1 class="title"> Remove read permision to user </h1>
     <form action="/book/delete" class="addbooksrow colmn" method="post">
       
        <span class="enterbooktitle">Enter Booktitle</span>
        <input type="text" class="loginbtn" placeholder="Enter Book title" name="booktitle" id="">
        <span class="enterbooktitle">Enter username you want to remove</span>
        <input type="text" class="loginbtn" placeholder="Username" name="addeduser" id="">
        <input type="submit" class="loginbtn" value="remove user">
    </form>

        
    <h1 class="title"> Add new Book </h1>
    <form action="/book/store" method="post" class="addbooksrow" enctype="multipart/form-data">
        <span  class="enterbooktitle">Title</span>
        <input type="text"  class="loginbtn" placeholder="Title here" name="filename" id="">
        <span  class="enterbooktitle">Year</span>
        <input type="text"  class="loginbtn" placeholder="year" name="year" id="">
        <span  class="enterbooktitle">Author</span>
        <input type="text"  class="loginbtn" placeholder="Author" name="author" id="">
        <span  class="enterbooktitle">Canreaduser</span>
        <input type="text"  class="loginbtn" placeholder="Type all to public" style="width: 350px !important; "  name="canreadusers" id="">
        <input type="file"  class="loginbtn" style="width: 350px !important; "  name="book" id="">
        <input type="submit"  class="loginbtn" value="Add Book">
    </form>

</body>
</html>