<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    
    <h1 class="title">Welcome:  <%= usename %></h1>

    <!-- to check permisions -->
    <h1 id="username" style="display: none;"><%= usename %></h1>
    
    <!-- search text -->
    <form action="/book/show" class="search_form" method="post">
    <input type="text" name="searchedtext" placeholder="type you text here">
    <!-- to pass username when we search to check permisions -->
    <input type="text" name="username" value="<%= usename %>" style="display: none;">
    <input type="submit" class="loginbtn" onclick="refreshPage" id="submitt" value="search">
    </form>
    
    <h3 id="numberofbooks" style="display: none;" ><%= allbooks.length %></h3>

    <% for(var i=0; i<allbooks.length; i++) {%>

        <div class="booksrow" id="hide<%= i %>">
                
            <span>  
                <span class="title" id="notitle<%= i %>"> Title: <%= allbooks[i].title %></span> 
                <span class="title" > Author: <%= allbooks[i].author %></span> 
                <span class="title" > year: <%= allbooks[i].year %></span> 
            </span>
            
            <h1 id="allbookscanreadusers<%= i %>"  style="display: none;"><%= allbooks[i].canreadusers %></h1>   
        
            <!-- if username is in canreaduser arry show downloadbtn esle show requestbtn -->
            <a href="/<%= allbooks[i].book %>" class="downloadbtn"  id="allbooksurl<%= i %>" style="display: none;" > download </a> 
           
            <form action="/adminpanel" style="display: none;" id="requestform<%= i %>" method="POST">
            <input type="text"  name="usename" style="display: none;" value="<%= usename %>">
            <input type="text"  name="message" style="display: none;" value="wants to get permision to download <%= allbooks[i].title %>" >
            <input type="submit" class="downloadbtn" value="request permision">
            </form>
        </div>
            
    <% } %>
   
 <script>
    //  number of books
     let nob = document.getElementById("numberofbooks").innerHTML
    //  var i =0
    console.log(nob)
    var text =[]
    var username =[]
    var downlaodbtn=[]
    var requestform= []
    var notitle =[]
    var hide = []
     for(var i = 0; i<nob; i++){
        text[i] = document.getElementById("allbookscanreadusers"+i).innerHTML
        username[i] = document.getElementById("username").innerHTML
        notitle[i] = document.getElementById("notitle" + i).innerHTML
        console.log(notitle[i])
        hide[i] = document.getElementById("hide" + i)
        if(notitle[i] == ' Title: '){
            hide[i].style.display = "none"
        }

        var myArray = text[i].split(",");
        downlaodbtn[i] = document.getElementById("allbooksurl"+i)
        requestform[i] = document.getElementById("requestform"+i)
       
        if(myArray.includes(username[i]) || myArray.includes('all') || myArray.includes('All') ){
            downlaodbtn[i].style.display = "flex"
            myArray =''
        }else{
            requestform[i].style.display = "flex"
            myArray =''
        }
     }

 </script>
</body>
</html>